:root {
  --main-bg-color: #141414;
  --card-bg-color: #1f1f1f;
  --gray: #6b6b6b;
  --white: #ffffff;
  font-size: 16px;
}

.page-wrapper {
  min-height: 100dvh;
  padding: 1.5rem;
  background-color: var(--main-bg-color);
  line-height: 150%;
}

.container {
  padding: 1.5rem;
  border-radius: 0.75rem;
  row-gap: 1.5rem;
  background-color: var(--card-bg-color);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0 0 8px 0;
}

p {
  margin: 0;
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
