@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --main-bg-color: #141414;
  --card-bg-color: #1f1f1f;
  --link-bg: #333;
  --white: #fff;
  --green: #c4f82a;
  font-size: 16px;
}

.inter-profile-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
}

.page-wrapper {
  min-height: 100dvh;
  padding: 1.5rem;
  background-color: var(--main-bg-color);
  line-height: 150%;
}

.container {
  padding: 1.5rem;
  border-radius: 0.75rem;
  row-gap: 1.5rem;
  background-color: var(--card-bg-color);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin: 0 0 4px 0;
}

p {
  margin: 0;
}

img {
  border-radius: 50%;
  height: 5.5rem;
}

#name {
  color: var(--white);
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

#location {
  color: var(--green);
  font-weight: 700;
  font-size: 0.875rem;
  text-align: center;
}

.bio > p {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--white);
}

.links {
  min-width: 100%;
  row-gap: 1rem;
}

.social-links {
  padding: 12px;
  border-radius: 8px;
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: inherit;
  background-color: var(--link-bg);
  color: var(--white);
  text-decoration: none;
}

.social-links:hover {
  background-color: var(--green);
  color: var(--link-bg);
  cursor: url(icons8-finger-up-ios-17-filled-32.png), auto;
}

.attribution {
  font-size: 11px;
  color: #fff;
  text-align: center;
}

.attribution a {
  color: var(--green);
}

@media (min-width: 768px) {
  .container {
    padding: 2.5rem;
  }
}
