:root {
  --main-bg-color: #141414;
  --card-bg-color: #1f1f1f;
  --link-bg: #333;
  --white: #fff;
  --green: #c4f82a;
  font-size: 16px;
}


.inter-profile-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
}


.page-wrapper {
  min-height: 100dvh;
  padding: 1.5rem;
  background-color: var(--main-bg-color);
  line-height: 150%;
}

.container {
  padding: 1.5rem;
  border-radius: 0.75rem;
  row-gap: 1.5rem;
  background-color: var(--card-bg-color);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0 0 4px 0;
}

p {
  margin: 0;
}

img {
  border-radius: 50%;
  height: 5.5rem;
}

#name {
  color: var(--white);
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

#location {
  color: var(--green);
  font-weight: 700;
  font-size: 0.875rem;
  text-align: center;
}

.bio > p {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--white);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
